/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Jan, 2018, 9:07:30 AM
    Author     : mkl
*/

.top{
    float: top;
}
.left{
    float: left;
    min-height: 350px;
}
.notification{
    float:right;
    font-size: 12pt;
    background-color: #ffffcc;
    text-align: right;
    background-color: #b0c4de;
}
.menu{
    font-size: 15pt;
    float: right;
    tab-size:initial;
    background-color: #ffcc00
} 
.menu:hover{
    font-size: 15pt;
    float: right;
    color: #ffffc1;
    tab-size:initial;
} 
.nav{
    text-align: center;
    width:100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
} 
.navbutton{
    text-align:center;
    width: available;
    min-width: 100%;
    background-color: #4151d0;
    height: 50px;
    border-radius: 30px;
    font-family: Monotype Corsiva;
    font-size: 20pt;
    color: #ccccff;
}
.navbutton:hover{
    text-align:center;
    width: available;
    min-width: 100%;
    background-color: #cc0000;
    height: 50px;
    border-radius: 30px;
    font-family: Monotype Corsiva;
    font-size: 20pt;
}
.header{
    float:top;
    height:165px;
    margin:0px;
    border:15px solid transparent;
}
.footer{
    float:bottom;
    background:#b0c4de;
    font-size:15pt;
    text-align:center;
    color:white;
}
.user{
    float:left;
    color: #ffffff;
    text-align: right;
    font-size:14pt;
    font-weight: 600;
}
.login{
    float: right;
    text-align:right;
    min-width:950px;
    max-width:950px;
    min-height:40px;
    font-size:20pt;
    font-family:High Tower Text;
    color:darkblue;
}   
h1{
    text-align: center;
    color: #4151d0;
    background-color: #b0c4de;
    border:5px solid  #4151d0;
}
body{
    background-image: url("bg_image.jpg");
}
.content{
    background-color: #ffffc1;
    float: start;
    font-size:20pt;
    min-height: 400px;
    border:15px solid #4151d0;
}
.home1{
    min-width: 550px;
}
.home2{
    min-width: 450px;
}
.c{
    min-height:150px;
    width:450px;
    font-size:25pt;
    font-family: BankGothic Md BT;
    background-color: #9966ff;
    color: #66ffff;
}
.c:hover{
    min-height:150px;
    width:450px;
    font-size:25pt;
    font-family: BankGothic Md BT;
    background-color: #009900;
    color: #ffffff;
}
.t{
    align-content: center;
    align-items: center;
}

.formbutton{
    color: #330033;
    background-color:#b0c4de;
    width: 100%;
    height: 100%;
}
.formbutton:hover{
    color: #330033;
    background-color:#6666ff;
    width: 100%;
    height: 100%;
}
.reviewboxname{
    background-color:  #3366ff;
    width:300px;
}
.reviewboxrev{
    background-color:  #0099ff;
    width:1200px;
}
.artdetails{
    background-color:  #9966ff;
    height: 500px;
    width: 900px;
}
.ratecount{
    width :1300px;   
}
.addrev{
    width:1400px;    
}
.revtextfeild{
    width:1200px;
    height:100px;
    background-color: #ccccff;
    font-family: Lucida Handwriting;
    font-size:12pt;
    color: #000033;
}
.revbutton{
    width:200px;
    height:100px;
    background-color: #6666ff;
    font-family: Lucida Handwriting;
    font-size:12pt;
}
.tablebutton{
    width:200px;    
    height:200px;
    color: #4151d0;
    background-color: #009900;
    font-size: 20pt;
    border-radius: 25px;
}
.tablebutton:hover{
    width:200px;    
    height:250px;
    color: #cc0000;
    background-color: #66ccff;
    font-size: 20pt;
    border-radius: 25px;
}
.wide{
    width:100%;
}
thead{
    background-color:#b0c4de;
}
.pr{
    color:#ff0000;
    font-size:15pt;
}

.carrousel img { /* all images get the same dimensions! */
	width:  440px;
	height: 333px;
	}
.carrousel {
	width:  470px; /* img width  + 30px */
	height: 343px; /* img height + 10px */
	margin-top: 20px;    /* custom if needed */
	margin-bottom: 20px; /* custom if needed */
	}
.carrousel ul {
	height: 343px; /* img height + 10px */
	}

/* ===== don't touch: ===== */

.carrousel img {
	padding: 5px;
	vertical-align: top;
	border: 0; 
	}
.carrousel {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 0 18px;
	overflow-y: auto;
	overflow-x: hidden;
	}
.carrousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
.carrousel li {
	margin: 0;
	padding: 0;
	}
        .help{
font-family: BankGothic Md BT;
text-transform: uppercase fullwidth;
        }
